language: julia

os:
    - linux
    - osx

julia:
    - 0.7
    - 1.0
    - 1.2
    - 1.3
    - nightly

# matrix:
#     allow_failures:
#         - julia: nightly

notifications:
    email: false

after_success:
    - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder()); Coveralls.submit(Coveralls.process_folder())'
